@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

h1{
    font-family: lato,sans-serif;
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    align-items: center;
    color: #1E212C;
    
}

h2{
    font-family: lato,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #1E212C
}
body{
    font-family: lato,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color:  #424551;
}
h3{
    font-family: lato,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #1E212C
}